<section id="workflow-container">
    <h1>Request Type</h1>
    <div class="card-container" >
        <div id="workflow-steps">
            <button onclick="nextStep('start')">Start</button>
        </div>
    
    
        <!-- Selected Choices Summary -->
        <div id="selection-summary">
            <h2>Your Selections:</h2>
            <ul style="border: 1px solid #000; align-items: left; min-width: 330px;" id="summary-list"></ul>
        </div>
        <div style="border: 1px solid #000; text-align: left; min-width: 340px; padding: 10px;" id="selection-links"></div>
    </div>

    <button onclick="clearSelections()">Reset Choices</button>
</section>